In [44]:
import pandas as pd

# read in the data
df = pd.read_csv('gta_i_0501_0710.csv')

In [45]:
df.columns

Index(['Unnamed: 0', 'InstrumentID', 'TradingDate', 'TradingTime', 'LastPrice',
       'LastVolume', 'Volume', 'PreTotalPosition', 'TotalPosition',
       'PrePositionChange', 'Turnover', 'LastTurnover', 'PriceUpLimit',
       'PriceDownLimit', 'AskPrice1', 'BidPrice1', 'AskVolume1', 'BidVolume1',
       'AskPrice5', 'AskPrice4', 'AskPrice3', 'AskPrice2', 'BidPrice2',
       'BidPrice3', 'BidPrice4', 'BidPrice5', 'AskVolume5', 'AskVolume4',
       'AskVolume3', 'AskVolume2', 'BidVolume2', 'BidVolume3', 'BidVolume4',
       'BidVolume5'],
      dtype='object')

In [46]:
df.head()

,Unnamed: 0,InstrumentID,TradingDate,TradingTime,LastPrice,LastVolume,Volume,PreTotalPosition,TotalPosition,PrePositionChange,...,BidPrice4,BidPrice5,AskVolume5,AskVolume4,AskVolume3,AskVolume2,BidVolume2,BidVolume3,BidVolume4,BidVolume5
0,0,I2309,20230504,2023-05-04 08:59:00.002,705.0,924,924,750611,750367,-244,...,703.5,703.0,25,68,16,53,56,95,22,56
1,1,I2309,20230504,2023-05-04 09:00:00.044,706.0,394,1318,750611,750583,-28,...,704.5,704.0,24,124,4,272,376,300,56,95
2,2,I2309,20230504,2023-05-04 09:00:00.299,707.0,733,2051,750611,751067,456,...,705.0,704.5,133,46,284,97,4,440,396,124
3,3,I2309,20230504,2023-05-04 09:00:00.551,706.5,733,2784,750611,750973,362,...,704.0,703.5,47,302,95,40,409,80,125,31
4,4,I2309,20230504,2023-05-04 09:00:00.801,705.5,415,3199,750611,751040,429,...,704.0,703.5,58,296,95,80,414,80,128,39

In [47]:
# separate the TradingDate column to Year, Month, Day which is timestamp
df['TradingDate'].head()
# transform the data type of TradingDate to string
df['TradingDate'] = df['TradingDate'].astype(str)
# split the TradingDate column to Year, Month, Day
df['Year'] = df['TradingDate'].str.slice(0,4)
df['Month'] = df['TradingDate'].str.slice(4,6)
df['Day'] = df['TradingDate'].str.slice(6,8)
# transform the data type of Year, Month, Day to int
df['Year'] = df['Year'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Day'] = df['Day'].astype(int)
df.drop('TradingDate', axis=1, inplace=True)
df.head()

,Unnamed: 0,InstrumentID,TradingTime,LastPrice,LastVolume,Volume,PreTotalPosition,TotalPosition,PrePositionChange,Turnover,...,AskVolume4,AskVolume3,AskVolume2,BidVolume2,BidVolume3,BidVolume4,BidVolume5,Year,Month,Day
0,0,I2309,2023-05-04 08:59:00.002,705.0,924,924,750611,750367,-244,65142000,...,68,16,53,56,95,22,56,2023,5,4
1,1,I2309,2023-05-04 09:00:00.044,706.0,394,1318,750611,750583,-28,92988850,...,124,4,272,376,300,56,95,2023,5,4
2,2,I2309,2023-05-04 09:00:00.299,707.0,733,2051,750611,751067,456,144754600,...,46,284,97,4,440,396,124,2023,5,4
3,3,I2309,2023-05-04 09:00:00.551,706.5,733,2784,750611,750973,362,196515100,...,302,95,40,409,80,125,31,2023,5,4
4,4,I2309,2023-05-04 09:00:00.801,705.5,415,3199,750611,751040,429,225816350,...,296,95,80,414,80,128,39,2023,5,4

In [54]:
new_df = df[['AskPrice1', 'BidPrice1', 'AskVolume1', 'BidVolume1', 'AskPrice5',
       'AskPrice4', 'AskPrice3', 'AskPrice2', 'BidPrice2', 'BidPrice3',
       'BidPrice4', 'BidPrice5', 'AskVolume5', 'AskVolume4', 'AskVolume3',
       'AskVolume2', 'BidVolume2', 'BidVolume3', 'BidVolume4', 'BidVolume5', 'Year', 'Month', 'Day']]

new_df['date'] = pd.to_datetime(new_df[['Year', 'Month', 'Day']])
new_df['trading_day'] = new_df.groupby('date').ngroup() + 1
new_df.drop(['date','Year', 'Month', 'Day'], axis=1, inplace=True)
new_df.head()

C:\Users\specf\AppData\Local\Temp\ipykernel_14220\779648686.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['date'] = pd.to_datetime(new_df[['Year', 'Month', 'Day']])
C:\Users\specf\AppData\Local\Temp\ipykernel_14220\779648686.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['trading_day'] = new_df.groupby('date').ngroup() + 1
C:\Users\specf\AppData\Local\Temp\ipykernel_14220\779648686.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(['date','Year', 'Month', 'Day'], axis=1, inplace=True)

,AskPrice1,BidPrice1,AskVolume1,BidVolume1,AskPrice5,AskPrice4,AskPrice3,AskPrice2,BidPrice2,BidPrice3,...,BidPrice5,AskVolume5,AskVolume4,AskVolume3,AskVolume2,BidVolume2,BidVolume3,BidVolume4,BidVolume5,trading_day
0,705.5,705.0,82,304,707.5,707.0,706.5,706.0,704.5,704.0,...,703.0,25,68,16,53,56,95,22,56,1
1,707.0,706.0,7,37,709.5,709.0,708.5,708.0,705.5,705.0,...,704.0,24,124,4,272,376,300,56,95,1
2,707.0,706.5,36,29,709.0,708.5,708.0,707.5,706.0,705.5,...,704.5,133,46,284,97,4,440,396,124,1
3,706.5,705.5,16,74,708.5,708.0,707.5,707.0,705.0,704.5,...,703.5,47,302,95,40,409,80,125,31,1
4,706.5,705.5,35,116,708.5,708.0,707.5,707.0,705.0,704.5,...,703.5,58,296,95,80,414,80,128,39,1

In [58]:
new_df.to_csv('cleaned_dataset.csv', index=False)